USE [master]
GO
/****** Object:  Database [TelemetricDb]    Script Date: 5/02/2026 16:05:46 ******/
CREATE DATABASE [TelemetricDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TelemetricDb', FILENAME = N'D:\programas\sqlserver\MSSQL17.MSSQLSERVER\MSSQL\DATA\TelemetricDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TelemetricDb_log', FILENAME = N'D:\programas\sqlserver\MSSQL17.MSSQLSERVER\MSSQL\DATA\TelemetricDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TelemetricDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TelemetricDb]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 5/02/2026 16:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[DocumentType] [int] NOT NULL,
	[DocumentNumber] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Address] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DecryptorType]    Script Date: 5/02/2026 16:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DecryptorType](
	[DecryptorTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK__Decrypto__5FE4AD82A547FC90] PRIMARY KEY CLUSTERED 
(
	[DecryptorTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Device]    Script Date: 5/02/2026 16:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device](
	[DeviceId] [int] IDENTITY(1,1) NOT NULL,
	[ModelId] [int] NOT NULL,
	[SerialNumber] [varchar](100) NOT NULL,
	[Name] [varchar](150) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[ClientId] [int] NULL,
	[DecryptKey] [nvarchar](255) NULL,
	[OutConnectionString] [nvarchar](500) NULL,
	[MaxQuota] [int] NULL,
	[DecryptorTypeId] [int] NULL,
	[TransformerId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceNode]    Script Date: 5/02/2026 16:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceNode](
	[DeviceId] [int] NOT NULL,
	[NodeId] [int] NOT NULL,
	[OrganizationId] [int] NOT NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DeviceNode] PRIMARY KEY CLUSTERED 
(
	[DeviceId] ASC,
	[NodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceSensor]    Script Date: 5/02/2026 16:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceSensor](
	[DeviceSensorId] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NOT NULL,
	[ModelSensorId] [int] NOT NULL,
	[Alias] [varchar](150) NULL,
	[DisplayOrder] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DeviceSensorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceTag]    Script Date: 5/02/2026 16:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceTag](
	[DeviceTagId] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK__DeviceTa__713BD984C5A1EE0E] PRIMARY KEY CLUSTERED 
(
	[DeviceTagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Map]    Script Date: 5/02/2026 16:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Map](
	[MapId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Mode] [tinyint] NOT NULL,
	[Config] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Metric]    Script Date: 5/02/2026 16:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Metric](
	[MetricId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[DataType] [tinyint] NOT NULL,
	[DefaultUnitId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MetricId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Model]    Script Date: 5/02/2026 16:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model](
	[ModelId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[Description] [varchar](500) NULL,
	[ImageUrl] [varchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModelSensor]    Script Date: 5/02/2026 16:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModelSensor](
	[ModelSensorId] [int] IDENTITY(1,1) NOT NULL,
	[ModelId] [int] NOT NULL,
	[SensorTypeId] [int] NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[Index] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ModelSensorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organization]    Script Date: 5/02/2026 16:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organization](
	[OrganizationId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Icon] [text] NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Organization] PRIMARY KEY CLUSTERED 
(
	[OrganizationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrganizationNode]    Script Date: 5/02/2026 16:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrganizationNode](
	[NodeId] [int] IDENTITY(1,1) NOT NULL,
	[OrganizationId] [int] NOT NULL,
	[ParentId] [int] NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Icon] [text] NULL,
	[Path] [nvarchar](450) NOT NULL,
	[Level] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_OrganizationNode] PRIMARY KEY CLUSTERED 
(
	[NodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 5/02/2026 16:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[PermissionId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](100) NOT NULL,
	[Module] [varchar](50) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[Scope] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 5/02/2026 16:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[ClientId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermission]    Script Date: 5/02/2026 16:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermission](
	[RoleId] [int] NOT NULL,
	[PermissionId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SensorType]    Script Date: 5/02/2026 16:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SensorType](
	[SensorTypeId] [int] IDENTITY(1,1) NOT NULL,
	[MetricId] [int] NOT NULL,
	[UnitId] [int] NULL,
	[Name] [varchar](150) NOT NULL,
	[Manufacturer] [varchar](100) NULL,
	[ModelNumber] [varchar](100) NULL,
	[Description] [varchar](500) NULL,
	[DefaultMinVal] [decimal](18, 2) NULL,
	[DefaultMaxVal] [decimal](18, 2) NULL,
	[Accuracy] [decimal](18, 4) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SensorTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 5/02/2026 16:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[TagId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Color] [nvarchar](7) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK__Tag__657CF9AC6D9AB468] PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transformer]    Script Date: 5/02/2026 16:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transformer](
	[TransformerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransformerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 5/02/2026 16:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[UnitId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Symbol] [varchar](20) NOT NULL,
	[Prefix] [varchar](20) NULL,
	[Suffix] [varchar](20) NULL,
	[Format] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/02/2026 16:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[Salt] [nvarchar](200) NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[ClientId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ClientId], [Name], [DocumentType], [DocumentNumber], [Email], [PhoneNumber], [Address], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, N'VC Soft S.A.C', 1, N'1046898798', N'cescobarreyna@gmail.com', N'949863018', N'Jiron Ariadna 211 Sagitario - Santiago de Surco', 1, 0, CAST(N'2025-12-15T17:16:51.803' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[DecryptorType] ON 

INSERT [dbo].[DecryptorType] ([DecryptorTypeId], [Name], [Code], [IsActive], [IsDeleted]) VALUES (1, N'AES', N'aes', 1, 0)
INSERT [dbo].[DecryptorType] ([DecryptorTypeId], [Name], [Code], [IsActive], [IsDeleted]) VALUES (2, N'Sin Encriptar (Plain)', N'plain', 1, 0)
SET IDENTITY_INSERT [dbo].[DecryptorType] OFF
GO
SET IDENTITY_INSERT [dbo].[Device] ON 

INSERT [dbo].[Device] ([DeviceId], [ModelId], [SerialNumber], [Name], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [ClientId], [DecryptKey], [OutConnectionString], [MaxQuota], [DecryptorTypeId], [TransformerId]) VALUES (1, 6, N'VC1001', N'El primero', 1, 1, CAST(N'2025-12-15T17:19:04.327' AS DateTime), 1, CAST(N'2025-12-15T20:54:29.067' AS DateTime), 1, 1, N'KEY_AES_DEV1003', N'mssql-prod', 2, NULL, 2)
INSERT [dbo].[Device] ([DeviceId], [ModelId], [SerialNumber], [Name], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [ClientId], [DecryptKey], [OutConnectionString], [MaxQuota], [DecryptorTypeId], [TransformerId]) VALUES (3, 6, N'vc1002', N'Prueba1', 1, 1, CAST(N'2025-12-15T21:13:31.100' AS DateTime), 1, CAST(N'2025-12-15T21:39:35.880' AS DateTime), 1, 1, N'KEY_AES_DEV1003', N'mssql-prod', 1, 1, 2)
INSERT [dbo].[Device] ([DeviceId], [ModelId], [SerialNumber], [Name], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [ClientId], [DecryptKey], [OutConnectionString], [MaxQuota], [DecryptorTypeId], [TransformerId]) VALUES (4, 6, N'vc1006', N'Prueba Seria2', 1, 0, CAST(N'2025-12-15T21:59:21.133' AS DateTime), 1, CAST(N'2025-12-16T23:09:46.847' AS DateTime), 3, 1, N'KEY_AES_DEV1003', NULL, NULL, 1, 2)
SET IDENTITY_INSERT [dbo].[Device] OFF
GO
INSERT [dbo].[DeviceNode] ([DeviceId], [NodeId], [OrganizationId], [AssignedAt]) VALUES (4, 6, 3, CAST(N'2025-12-17T23:40:16.8760550' AS DateTime2))
INSERT [dbo].[DeviceNode] ([DeviceId], [NodeId], [OrganizationId], [AssignedAt]) VALUES (4, 7, 5, CAST(N'2025-12-17T23:40:16.8881928' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[DeviceSensor] ON 

INSERT [dbo].[DeviceSensor] ([DeviceSensorId], [DeviceId], [ModelSensorId], [Alias], [DisplayOrder], [IsEnabled], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, 1, 2, N'S1', 1, 1, 1, 1, CAST(N'2025-12-15T17:19:04.290' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[DeviceSensor] ([DeviceSensorId], [DeviceId], [ModelSensorId], [Alias], [DisplayOrder], [IsEnabled], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, 3, 2, N'S1', 1, 1, 1, 1, CAST(N'2025-12-15T21:13:31.100' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[DeviceSensor] ([DeviceSensorId], [DeviceId], [ModelSensorId], [Alias], [DisplayOrder], [IsEnabled], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, 4, 2, N'Prueba12', 1, 1, 1, 0, CAST(N'2025-12-15T21:59:21.030' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DeviceSensor] OFF
GO
SET IDENTITY_INSERT [dbo].[DeviceTag] ON 

INSERT [dbo].[DeviceTag] ([DeviceTagId], [DeviceId], [TagId], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, 4, 2, 0, CAST(N'2025-12-17T23:40:16.980' AS DateTime), 3, NULL, NULL)
INSERT [dbo].[DeviceTag] ([DeviceTagId], [DeviceId], [TagId], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, 4, 6, 0, CAST(N'2025-12-17T23:40:16.980' AS DateTime), 3, NULL, NULL)
INSERT [dbo].[DeviceTag] ([DeviceTagId], [DeviceId], [TagId], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, 4, 14, 0, CAST(N'2025-12-17T23:40:16.980' AS DateTime), 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DeviceTag] OFF
GO
SET IDENTITY_INSERT [dbo].[Map] ON 

SET IDENTITY_INSERT [dbo].[Map] OFF
GO
SET IDENTITY_INSERT [dbo].[Metric] ON 

INSERT [dbo].[Metric] ([MetricId], [Name], [Code], [DataType], [DefaultUnitId], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, N'Humedad', N'HU33', 1, 4, 1, 0, CAST(N'2025-12-10T19:50:26.070' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Metric] ([MetricId], [Name], [Code], [DataType], [DefaultUnitId], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, N'Humedad', N'HU2', 1, 4, 1, 0, CAST(N'2025-12-10T19:53:07.800' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Metric] ([MetricId], [Name], [Code], [DataType], [DefaultUnitId], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (4, N'Prueba', N'H22', 1, 4, 1, 0, CAST(N'2025-12-10T21:56:01.233' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Metric] OFF
GO
SET IDENTITY_INSERT [dbo].[Model] ON 

INSERT [dbo].[Model] ([ModelId], [Name], [Code], [Description], [ImageUrl], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, N'Prueba2', N'Prueba2', N'XD', N'', 1, 1, CAST(N'2025-12-10T20:11:06.887' AS DateTime), 1, CAST(N'2025-12-15T17:13:30.670' AS DateTime), 1)
INSERT [dbo].[Model] ([ModelId], [Name], [Code], [Description], [ImageUrl], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, N'Prueba', N'Prueba1', N'XD', N'', 1, 1, CAST(N'2025-12-10T20:11:42.083' AS DateTime), 1, CAST(N'2025-12-15T17:13:32.550' AS DateTime), 1)
INSERT [dbo].[Model] ([ModelId], [Name], [Code], [Description], [ImageUrl], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (4, N'Prueba3', N'Prueba 3', N'XD', N'', 1, 1, CAST(N'2025-12-10T20:15:49.477' AS DateTime), 1, CAST(N'2025-12-15T17:13:34.590' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Model] OFF
GO
SET IDENTITY_INSERT [dbo].[ModelSensor] ON 

INSERT [dbo].[ModelSensor] ([ModelSensorId], [ModelId], [SensorTypeId], [Code], [Index], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, 6, 1, N'S1', 1, 1, 0, CAST(N'2025-12-15T17:15:31.603' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[ModelSensor] ([ModelSensorId], [ModelId], [SensorTypeId], [Code], [Index], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, 7, 2, N't1', 1, 1, 0, CAST(N'2025-12-18T21:38:42.427' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[ModelSensor] ([ModelSensorId], [ModelId], [SensorTypeId], [Code], [Index], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (4, 7, 3, N'h1', 2, 1, 0, CAST(N'2025-12-18T21:38:42.430' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ModelSensor] OFF
GO
SET IDENTITY_INSERT [dbo].[Organization] ON 

INSERT [dbo].[Organization] ([OrganizationId], [ClientId], [Name], [Icon], [Description], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, 1, N'Prueba1', N'mdi-server-network', N'XDsssssssasasas', 1, 0, CAST(N'2025-12-17T17:35:30.7900000' AS DateTime2), 3, CAST(N'2026-02-05T19:46:38.9266090' AS DateTime2), 3)
INSERT [dbo].[Organization] ([OrganizationId], [ClientId], [Name], [Icon], [Description], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (4, 1, N'Organizacion2', NULL, N'XD', 1, 0, CAST(N'2025-12-17T17:36:40.2000000' AS DateTime2), 3, NULL, NULL)
INSERT [dbo].[Organization] ([OrganizationId], [ClientId], [Name], [Icon], [Description], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (5, 1, N'Prueba3', N'mdi-chart-tree', N'XD', 1, 0, CAST(N'2025-12-17T20:09:53.7433333' AS DateTime2), 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Organization] OFF
GO
SET IDENTITY_INSERT [dbo].[OrganizationNode] ON 

INSERT [dbo].[OrganizationNode] ([NodeId], [OrganizationId], [ParentId], [Name], [Icon], [Path], [Level], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, 3, NULL, N'Item1', N'mdi-database', N'/1/', 0, 1, 0, CAST(N'2025-12-17T19:18:16.9800000' AS DateTime2), 3, CAST(N'2025-12-17T19:49:33.5592042' AS DateTime2), 3)
INSERT [dbo].[OrganizationNode] ([NodeId], [OrganizationId], [ParentId], [Name], [Icon], [Path], [Level], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, 3, 1, N'Item2', NULL, N'/1/2/', 1, 1, 0, CAST(N'2025-12-17T19:18:30.7866667' AS DateTime2), 3, CAST(N'2025-12-17T19:18:30.7955279' AS DateTime2), 3)
INSERT [dbo].[OrganizationNode] ([NodeId], [OrganizationId], [ParentId], [Name], [Icon], [Path], [Level], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, 3, NULL, N'Prueba12', N'mdi-cloud', N'/3/', 0, 1, 0, CAST(N'2025-12-17T19:29:09.3766667' AS DateTime2), 3, CAST(N'2025-12-17T19:51:09.9485182' AS DateTime2), 3)
SET IDENTITY_INSERT [dbo].[OrganizationNode] OFF
GO
SET IDENTITY_INSERT [dbo].[Permission] ON 

INSERT [dbo].[Permission] ([PermissionId], [Code], [Module], [Description], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [Scope]) VALUES (1, N'Users.View', N'Users', N'Ver usuarios', 1, 0, CAST(N'2025-12-03T01:16:32.730' AS DateTime), 1, NULL, NULL, 0)
INSERT [dbo].[Permission] ([PermissionId], [Code], [Module], [Description], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [Scope]) VALUES (2, N'Users.Create', N'Users', N'Crear usuarios', 1, 0, CAST(N'2025-12-03T01:16:32.730' AS DateTime), 1, NULL, NULL, 0)
INSERT [dbo].[Permission] ([PermissionId], [Code], [Module], [Description], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [Scope]) VALUES (3, N'Users.Update', N'Users', N'Editar usuarios', 1, 0, CAST(N'2025-12-03T01:16:32.730' AS DateTime), 1, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Permission] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [Code], [Name], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [ClientId]) VALUES (1, N'SAD', N'Super Admin', 1, 0, CAST(N'2025-12-03T01:16:32.727' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[Role] ([RoleId], [Code], [Name], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [ClientId]) VALUES (2, N'CAD', N'Administrador', 1, 0, CAST(N'2025-12-03T01:16:32.737' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[RolePermission] ([RoleId], [PermissionId]) VALUES (1, 1)
INSERT [dbo].[RolePermission] ([RoleId], [PermissionId]) VALUES (1, 2)
INSERT [dbo].[RolePermission] ([RoleId], [PermissionId]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[SensorType] ON 

INSERT [dbo].[SensorType] ([SensorTypeId], [MetricId], [UnitId], [Name], [Manufacturer], [ModelNumber], [Description], [DefaultMinVal], [DefaultMaxVal], [Accuracy], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, 3, 1, N'TipoSensor1', NULL, NULL, NULL, CAST(0.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), CAST(1.0000 AS Decimal(18, 4)), 1, 0, CAST(N'2025-12-15T17:15:09.770' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[SensorType] ([SensorTypeId], [MetricId], [UnitId], [Name], [Manufacturer], [ModelNumber], [Description], [DefaultMinVal], [DefaultMaxVal], [Accuracy], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, 6, 1, N'Temperatura Genérica', NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, CAST(N'2025-12-18T21:38:42.423' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[SensorType] ([SensorTypeId], [MetricId], [UnitId], [Name], [Manufacturer], [ModelNumber], [Description], [DefaultMinVal], [DefaultMaxVal], [Accuracy], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, 3, 4, N'Humedad Genérica', NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, CAST(N'2025-12-18T21:38:42.423' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SensorType] OFF
GO
SET IDENTITY_INSERT [dbo].[Tag] ON 

INSERT [dbo].[Tag] ([TagId], [ClientId], [Name], [Color], [Description], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, 1, N'Activo Crítico', N'#F44336', N'Dispositivos de alta prioridad que requieren monitoreo constante', 1, 0, CAST(N'2025-12-17T22:45:47.197' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Tag] ([TagId], [ClientId], [Name], [Color], [Description], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, 1, N'Prueba', N'#607D8B', N'', 1, 0, CAST(N'2025-12-17T22:45:47.197' AS DateTime), NULL, CAST(N'2025-12-17T23:26:27.753' AS DateTime), 3)
INSERT [dbo].[Tag] ([TagId], [ClientId], [Name], [Color], [Description], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, 1, N'Desarrollo', N'#2196F3', N'Dispositivos en ambiente de desarrollo', 1, 0, CAST(N'2025-12-17T22:45:47.197' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Tag] OFF
GO
SET IDENTITY_INSERT [dbo].[Transformer] ON 

INSERT [dbo].[Transformer] ([TransformerId], [Name], [Code], [IsActive], [IsDeleted]) VALUES (2, N'V1 JSON', N'v1-json', 1, 0)
SET IDENTITY_INSERT [dbo].[Transformer] OFF
GO
SET IDENTITY_INSERT [dbo].[Unit] ON 

INSERT [dbo].[Unit] ([UnitId], [Name], [Symbol], [Prefix], [Suffix], [Format], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, N'Celsius', N'°C', N'', N' °C', N'{0} °C', 1, 0, CAST(N'2025-12-03T01:16:32.740' AS DateTime), 1, CAST(N'2025-12-18T21:36:08.950' AS DateTime), 1)
INSERT [dbo].[Unit] ([UnitId], [Name], [Symbol], [Prefix], [Suffix], [Format], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, N'Fahrenheit', N'Â°F', NULL, N' Â°F', N'{0} Â°F', 1, 0, CAST(N'2025-12-03T01:16:32.740' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Unit] ([UnitId], [Name], [Symbol], [Prefix], [Suffix], [Format], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, N'Kilometers per Hour', N'km/h', NULL, N' km/h', N'{0} km/h', 1, 0, CAST(N'2025-12-03T01:16:32.740' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Unit] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [Username], [Email], [PasswordHash], [Salt], [RoleId], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [ClientId]) VALUES (1, N'admin', N'admin@telemetric.local', N'ysF0hWWThJvnpnECz9QTJwSPeKhAGfgKXzJZWyI7jN0=', N'ce+5TtKllZaKKjLyl+6Rog==', 1, 1, 0, CAST(N'2025-12-03T01:16:32.727' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[User] ([UserId], [Username], [Email], [PasswordHash], [Salt], [RoleId], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [ClientId]) VALUES (2, N'operador', N'operador@telemetric.local', N'ysF0hWWThJvnpnECz9QTJwSPeKhAGfgKXzJZWyI7jN0=', N'ce+5TtKllZaKKjLyl+6Rog==', 2, 1, 0, CAST(N'2025-12-03T01:16:32.737' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[User] ([UserId], [Username], [Email], [PasswordHash], [Salt], [RoleId], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [ClientId]) VALUES (3, N'vcsoft', N'cescobarreyna@gmail.com1', N'nvC3jLxEdI6XGEMFtCux3SzA7+OmI2c/rIzaFjg1gXE=', N'U+iVDqwxOGZUtZAKFiZfkQ==', 2, 1, 0, CAST(N'2025-12-15T17:16:51.810' AS DateTime), NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Client_Document]    Script Date: 5/02/2026 16:05:46 ******/
ALTER TABLE [dbo].[Client] ADD  CONSTRAINT [UQ_Client_Document] UNIQUE NONCLUSTERED 
(
	[DocumentType] ASC,
	[DocumentNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Device_SerialNumber]    Script Date: 5/02/2026 16:05:46 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Device_SerialNumber] ON [dbo].[Device]
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DeviceSensor_Device_ModelSensor]    Script Date: 5/02/2026 16:05:46 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DeviceSensor_Device_ModelSensor] ON [dbo].[DeviceSensor]
(
	[DeviceId] ASC,
	[ModelSensorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_DeviceTags_DeviceTag]    Script Date: 5/02/2026 16:05:46 ******/
ALTER TABLE [dbo].[DeviceTag] ADD  CONSTRAINT [UQ_DeviceTags_DeviceTag] UNIQUE NONCLUSTERED 
(
	[DeviceId] ASC,
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DeviceTags_DeviceId]    Script Date: 5/02/2026 16:05:46 ******/
CREATE NONCLUSTERED INDEX [IX_DeviceTags_DeviceId] ON [dbo].[DeviceTag]
(
	[DeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DeviceTags_TagId]    Script Date: 5/02/2026 16:05:46 ******/
CREATE NONCLUSTERED INDEX [IX_DeviceTags_TagId] ON [dbo].[DeviceTag]
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Metric_Code]    Script Date: 5/02/2026 16:05:46 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Metric_Code] ON [dbo].[Metric]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Model_Code]    Script Date: 5/02/2026 16:05:46 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Model_Code] ON [dbo].[Model]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ModelSensor_Model_Code]    Script Date: 5/02/2026 16:05:46 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ModelSensor_Model_Code] ON [dbo].[ModelSensor]
(
	[ModelId] ASC,
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrganizationNode_Path]    Script Date: 5/02/2026 16:05:46 ******/
CREATE NONCLUSTERED INDEX [IX_OrganizationNode_Path] ON [dbo].[OrganizationNode]
(
	[Path] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Permission_Code]    Script Date: 5/02/2026 16:05:46 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Permission_Code] ON [dbo].[Permission]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Role_Code]    Script Date: 5/02/2026 16:05:46 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Role_Code] ON [dbo].[Role]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Tags_ClientName]    Script Date: 5/02/2026 16:05:46 ******/
ALTER TABLE [dbo].[Tag] ADD  CONSTRAINT [UQ_Tags_ClientName] UNIQUE NONCLUSTERED 
(
	[ClientId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tags_ClientId]    Script Date: 5/02/2026 16:05:46 ******/
CREATE NONCLUSTERED INDEX [IX_Tags_ClientId] ON [dbo].[Tag]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tags_IsActive]    Script Date: 5/02/2026 16:05:46 ******/
CREATE NONCLUSTERED INDEX [IX_Tags_IsActive] ON [dbo].[Tag]
(
	[IsActive] ASC
)
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__536C85E4BDCA4483]    Script Date: 5/02/2026 16:05:46 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Client] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Client] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Client] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DecryptorType] ADD  CONSTRAINT [DF__Decryptor__IsAct__04459E07]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DecryptorType] ADD  CONSTRAINT [DF__Decryptor__IsDel__0539C240]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Device] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Device] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Device] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DeviceNode] ADD  DEFAULT (getutcdate()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[DeviceSensor] ADD  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[DeviceSensor] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DeviceSensor] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[DeviceSensor] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DeviceTag] ADD  CONSTRAINT [DF_DeviceTag_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[DeviceTag] ADD  CONSTRAINT [DF_DeviceTag_CreatedAt]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Map] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Map] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Map] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Metric] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Metric] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Metric] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Model] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Model] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Model] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ModelSensor] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ModelSensor] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ModelSensor] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Organization] ADD  CONSTRAINT [DF__Organizat__IsAct__4DB4832C]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Organization] ADD  CONSTRAINT [DF__Organizat__IsDel__4EA8A765]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Organization] ADD  CONSTRAINT [DF__Organizat__Creat__4F9CCB9E]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrganizationNode] ADD  CONSTRAINT [DF__Organizat__Level__536D5C82]  DEFAULT ((0)) FOR [Level]
GO
ALTER TABLE [dbo].[OrganizationNode] ADD  CONSTRAINT [DF__Organizat__IsAct__546180BB]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[OrganizationNode] ADD  CONSTRAINT [DF__Organizat__IsDel__5555A4F4]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[OrganizationNode] ADD  CONSTRAINT [DF__Organizat__Creat__5649C92D]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Permission] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Permission] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Permission] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Permission] ADD  DEFAULT ((0)) FOR [Scope]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SensorType] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SensorType] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SensorType] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tag] ADD  CONSTRAINT [DF__Tag__IsActive__0BB1B5A5]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tag] ADD  CONSTRAINT [DF_Tag_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Tag] ADD  CONSTRAINT [DF_Tag_CreatedAt1]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Transformer] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Transformer] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Unit] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Unit] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Unit] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Device]  WITH CHECK ADD FOREIGN KEY([ModelId])
REFERENCES [dbo].[Model] ([ModelId])
GO
ALTER TABLE [dbo].[Device]  WITH CHECK ADD  CONSTRAINT [FK_Device_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([ClientId])
GO
ALTER TABLE [dbo].[Device] CHECK CONSTRAINT [FK_Device_Client]
GO
ALTER TABLE [dbo].[Device]  WITH CHECK ADD  CONSTRAINT [FK_Device_DecryptorType] FOREIGN KEY([DecryptorTypeId])
REFERENCES [dbo].[DecryptorType] ([DecryptorTypeId])
GO
ALTER TABLE [dbo].[Device] CHECK CONSTRAINT [FK_Device_DecryptorType]
GO
ALTER TABLE [dbo].[Device]  WITH CHECK ADD  CONSTRAINT [FK_Device_Transformer] FOREIGN KEY([TransformerId])
REFERENCES [dbo].[Transformer] ([TransformerId])
GO
ALTER TABLE [dbo].[Device] CHECK CONSTRAINT [FK_Device_Transformer]
GO
ALTER TABLE [dbo].[DeviceNode]  WITH CHECK ADD  CONSTRAINT [FK_DeviceNode_Device] FOREIGN KEY([DeviceId])
REFERENCES [dbo].[Device] ([DeviceId])
GO
ALTER TABLE [dbo].[DeviceNode] CHECK CONSTRAINT [FK_DeviceNode_Device]
GO
ALTER TABLE [dbo].[DeviceNode]  WITH CHECK ADD  CONSTRAINT [FK_DeviceNode_Node] FOREIGN KEY([NodeId])
REFERENCES [dbo].[OrganizationNode] ([NodeId])
GO
ALTER TABLE [dbo].[DeviceNode] CHECK CONSTRAINT [FK_DeviceNode_Node]
GO
ALTER TABLE [dbo].[DeviceNode]  WITH CHECK ADD  CONSTRAINT [FK_DeviceNode_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([OrganizationId])
GO
ALTER TABLE [dbo].[DeviceNode] CHECK CONSTRAINT [FK_DeviceNode_Organization]
GO
ALTER TABLE [dbo].[DeviceSensor]  WITH CHECK ADD FOREIGN KEY([DeviceId])
REFERENCES [dbo].[Device] ([DeviceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeviceSensor]  WITH CHECK ADD FOREIGN KEY([ModelSensorId])
REFERENCES [dbo].[ModelSensor] ([ModelSensorId])
GO
ALTER TABLE [dbo].[DeviceTag]  WITH CHECK ADD  CONSTRAINT [FK_DeviceTags_Device] FOREIGN KEY([DeviceId])
REFERENCES [dbo].[Device] ([DeviceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeviceTag] CHECK CONSTRAINT [FK_DeviceTags_Device]
GO
ALTER TABLE [dbo].[DeviceTag]  WITH CHECK ADD  CONSTRAINT [FK_DeviceTags_Tag] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tag] ([TagId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeviceTag] CHECK CONSTRAINT [FK_DeviceTags_Tag]
GO
ALTER TABLE [dbo].[Map]  WITH CHECK ADD  CONSTRAINT [FK_Map_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([ClientId])
GO
ALTER TABLE [dbo].[Map] CHECK CONSTRAINT [FK_Map_Client]
GO
ALTER TABLE [dbo].[Metric]  WITH CHECK ADD FOREIGN KEY([DefaultUnitId])
REFERENCES [dbo].[Unit] ([UnitId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ModelSensor]  WITH CHECK ADD FOREIGN KEY([ModelId])
REFERENCES [dbo].[Model] ([ModelId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ModelSensor]  WITH CHECK ADD FOREIGN KEY([SensorTypeId])
REFERENCES [dbo].[SensorType] ([SensorTypeId])
GO
ALTER TABLE [dbo].[Organization]  WITH CHECK ADD  CONSTRAINT [FK_Organization_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([ClientId])
GO
ALTER TABLE [dbo].[Organization] CHECK CONSTRAINT [FK_Organization_Client]
GO
ALTER TABLE [dbo].[OrganizationNode]  WITH CHECK ADD  CONSTRAINT [FK_OrganizationNode_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([OrganizationId])
GO
ALTER TABLE [dbo].[OrganizationNode] CHECK CONSTRAINT [FK_OrganizationNode_Organization]
GO
ALTER TABLE [dbo].[OrganizationNode]  WITH CHECK ADD  CONSTRAINT [FK_OrganizationNode_Parent] FOREIGN KEY([ParentId])
REFERENCES [dbo].[OrganizationNode] ([NodeId])
GO
ALTER TABLE [dbo].[OrganizationNode] CHECK CONSTRAINT [FK_OrganizationNode_Parent]
GO
ALTER TABLE [dbo].[Role]  WITH CHECK ADD  CONSTRAINT [FK_Role_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([ClientId])
GO
ALTER TABLE [dbo].[Role] CHECK CONSTRAINT [FK_Role_Client]
GO
ALTER TABLE [dbo].[RolePermission]  WITH CHECK ADD FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permission] ([PermissionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermission]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SensorType]  WITH CHECK ADD FOREIGN KEY([MetricId])
REFERENCES [dbo].[Metric] ([MetricId])
GO
ALTER TABLE [dbo].[SensorType]  WITH CHECK ADD FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([UnitId])
GO
ALTER TABLE [dbo].[Tag]  WITH CHECK ADD  CONSTRAINT [FK_Tags_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([ClientId])
GO
ALTER TABLE [dbo].[Tag] CHECK CONSTRAINT [FK_Tags_Client]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([ClientId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Client]
GO
ALTER TABLE [dbo].[Tag]  WITH CHECK ADD  CONSTRAINT [CK_Tags_ColorFormat] CHECK  (([Color] like '#[0-9A-F][0-9A-F][0-9A-F][0-9A-F][0-9A-F][0-9A-F]'))
GO
ALTER TABLE [dbo].[Tag] CHECK CONSTRAINT [CK_Tags_ColorFormat]
GO
USE [master]
GO
